<% include ./partials/header %>
    

<div id="login-page" class="container">
    <div class="row">
        <h1 style="text-align: center">Log in to your Account!</h1>
        
        <div id="login-page-box">
        <form action="/login" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="username" name="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="password" name="password">
            </div>
               <button class="btn btn-large btn-primary btn-block">Login</button>
            </div>
    </div>
</div>

<% include ./partials/footer %>